<%- model_class = Note -%>

<table class="table table-striped">

<thead>

<tr>



<th><%= model_class.human_attribute_name(:name) %></th>

<th><%= model_class.human_attribute_name(:key) %></th>

<th><%=t '.actions', :default => t("helpers.actions") %></th>

</tr>

</thead>

<tbody>

<% notes.each do |note| %>

    <tr>
    
    
    
    <td><%= link_to note.name, note_path(note), class: 'main-link' %></td>
    
    <td><%= s3_link Tenant.current_tenant_id, note.key %></td>
    
    <td>
    
    
    
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
    
    note_path(note),
    
    :method => :delete,
    
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
    
    :class => 'btn btn-xs btn-danger' %>
    
    </td>
    
    </tr>

<% end %>

</tbody>

</table>

<%= link_to 'New Note', new_note_path(study_session_id: @study_session.id),

:class => 'btn btn-primary' %>