<%= form_for [@tenant, @study_session], :html => { :class => "form-horizontal study_session" } do |f| %>

  <% if @study_session.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@study_session.errors.count, "error") %> prohibited this study_session from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @study_session.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :topic_of_the_day, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>

  </div>
  <div class="control-group">
    <%= f.label :room_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :room_number, :class => 'form-control' %>
    </div>

  </div>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :date, :class => 'form-control datepicker' %>
    </div>

  </div>
  <div class="control-group">
    <%= f.label :time, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :time, :class => 'form-control' %>
    </div>

  </div>
  

  <br />

  

      <%= f.hidden_field :tenant_id, value: params[:tenant_id], :class => 'form-control' %>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                root_path, :class => 'btn btn-default' %>
 

<% end %>
